<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>SGlobe-rani</title>
<link rel="icon" type="image/png" href="http://sysmic.ac.uk/static/img/ucl.png" />


<!--Styles -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">







<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
</head>
<body>
<div id="maincontainer">
<div id="fixedheader">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SGlobe-rani Model</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../">Back</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>
<div id="topsection"><div class="innertube">



</div></div>
<div id="wrapper">
<div id="contentwrapper">
<div id="contentcolumn">
<div class="innertube">
<!--
<div data-spy="scroll" data-target=".navbar" data-offset="12" class="innertube">
-->
<div class="innertube">
<h3>

</h3>
<div class="container">
  <div class="jumbotron">
    <h1>See who's working behind the scenes:</h1> 
  </div>
</div>

<div class="container">

      <div class="col-sm-3" >

 <img src="http://www.ucl.ac.uk/earth-sciences/images/people/Dr_Ana_Ferreira.JPG" style="width:100%">


    </div>
    <div class="col-sm-9" >
  <div class="jumbotron">
    <h1>Dr Ana Ferreira</h1> 
    <p>Lead Principal Investigator</p>
      <p>I study deep Earth structure and earthquake source processes to obtain an integrated understanding of the processes controlling the dynamic behaviour of our planet from the surface down to the lowermost mantle.</p> 
  <p><a href="http://www.ucl.ac.uk/earth-sciences/people/staff/academic/ferreira">More Details...</a></p>  
</div>
      </div>


</div>

<div class="container">
        <div class="col-sm-3" >

 <img src="http://seismo.kangwon.ac.kr/sungjoon.jpg"style="width:100%">


    </div>
    <div class="col-sm-9" >
      <div class="jumbotron">
    <h1>Dr Sung-Joon Chang</h1> 
    <p>Co-Lead Principal Investigator</p>
      <p>My main research interests have focused on the construction of 3D velocity and radial anisotropic models for crust and mantle. By dramatically improving the resolution with complementary multiple data sets, I could shed new light on tectonic evolution especially on the Arabian Peninsula. Now my study extends to global scale to obtain radially anisotropic structure and attenuation, which will ensue new revelation on mantle convection and Earth's evolution.</p> 
  <p><a href="http://seismo.kangwon.ac.kr/index.htm">More Details...</a></p> 
  </div>
  </div> 
  </div>



<div class="container">
  <div class="jumbotron">
    <h2>Project collaborators</h2>  
      <p>Prof. Jeroen Ritsema</p>      
  <p>Hendrik van Heijst</p>      
  <p>Prof. John Woodhouse</p>          
  </div>   
</div>

<p>
<button type="button" class="button" onclick="window.location.href='../'" >Back</button>

</p>
    </div>
  </div>
  
  </div>
  
  </div>


</div>
</div>
</div>



</div>


</div>

<div id="footer">

  
  
  <div id="department">
    <div id="linefooter">
  </div>
  
    Copyright © <script type="text/javascript">
    var d = new Date()
    document.write(d.getFullYear())
    </script>
    Aristides Zenonos
  </div>
  </div>
<!-- SCRIPTS -->

<link rel="stylesheet" type="text/css" href="{% static 'css/style_image.css' %}">

<!--
<script src="externalfile:drive-ca5911c4485d18a13157efbccd2d302b4d6cf142/root/MSc Individual Project/javascript/scrollspy.js"></script>
-->



</body>
</html>

