<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html>
<head>
 <meta charset="utf-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

 <title>Global Tomography</title>
 <link rel="icon" type="image/png" href="http://sysmic.ac.uk/static/img/ucl.png" />
 <!--Styles -->
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


 <script src="http://www.webglearth.com/v2/api.js"></script>


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="javascript/scrollspy.js"></script>

 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

 <script
 src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script
 src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>
<body onload="initialize()">
<div id="overlay"></div>
  <div id="maincontainer">
    <div id="fixedheader">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">SGlobe-rani Model</a>
          </div>
          <div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="datamethod/#Data">Data
                </a></li>
                <li><a href="datamethod/#Methods">Methods</a></li>
                <li><a href="datamethod/#References">References</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div id="topsection"><div class="innertube">


    </div></div>
    <div id="wrapper">
      <div id="contentwrapper">
        <div id="contentcolumn">
          <div class="innertube">
<!--
<div data-spy="scroll" data-target=".navbar" data-offset="12" class="innertube">
-->
<div class="innertube">
  <div id="Introduction">
    <div class="container-fluid">

     <h2>Global Model Comparisons</h2>
     <p>Global model comparisons involves the computation of correlations between various models, rms power, spectrum etc.
      <form action="/tomographic_db/image" method="GET" >
        <select id="id_imageName" type="text" name="form_globeName" maxlength="100" />
        {% for globeImages in images_list_globe %}
        <option for="id_imageName">{{globeImages}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit" class="btn" onclick="showImg()" />
    </form>
    <p>

    Select to view the gobal tomographic images with respect to each depth.
    </p>
            <form action="/tomographic_db/image/" method="GET" >
          <select id="id_imageName" type="text" name="form_imageName" maxlength="100" />
          {% for tomoImages in images_list %}
          <option for="id_imageName">{{tomoImages}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit" class="btn" onclick="showImg()" />
      </form>


  </p>

  <div id="fds">
    <img src="{% static 'JGR_figures/fig1.jpg' %}" alt="MyImage" class="img-circle">
    <img src="{% static 'JGR_figures/fig12.png' %}" alt="MyImage"class="img-circle">
    <img src="{% static 'JGR_figures/fig13.png' %}" alt="MyImage"class="img-circle">
  </div>
  <h2>Regional Model Comparisons</h2>
  <p>The regional analysis allows comparisons of specific zones on Earth. For example, subduction zones, the lithosphere-asthenosphere boundary, depth extend of continents, mid-ocean ridges, mantle plumes etc. Choose the parameters from the list below to see the respective image.
    <div id="comwrapper">
      <div id="formwrapper">


      <form action="/tomographic_db/image/" method="GET" >
        <p>Select Depth:
          <select id='demo' name='form_Depth'>
      <!--<option value="100">100</option>
      <option value="200">200</option> -->
    </select>
  </p>
  <p>Select Max Longitude:
    <select id='lonMAX' name = 'form_lonMAX'>

    </select>
  </p>
  <p>Select Min Longitude:
    <select id='lonMIN' name = 'form_lonMIN'>

    </select>
  </p>
  <p>Select Max Latitude:
    <select id='latMAX' name = 'form_latMAX'>

    </select>
    <p>Select Min Latitude:
      <select id='latMIN' name = 'form_latMIN'>

      </select>
    </p>
    <input type="submit" value="Submit" class="btn" onclick="this.form.submit(); $('#spinnerContainer').toggle();this.disabled=true; this.value='Processing Request...'; "/>
  </form>

</p>
</div>
<div id="earth_div">
<input type="button" value="Get centre coordinates" onclick="getCurrentCenter()"><br>
</div>

<div id="spinnerContainer" class="spinner" style="display:none">
</div>



</div>
</div>


</div>


</div>
</div>
</div>



</div>


</div>
<div id="datamethod">
<h2>



<button type="button" class="button" onclick="window.location.href='datamethod'" >Want to know more?</button>

</h2>
</div>
<div id="footer">
  <div class="container-table">

   <div class="column-left">
     Contact Us<br/>
     <a href="mailto:aristideszenonos@gmail.com">aristideszenonos@gmail.com</a><br/>
     <a href="https://twitter.com/arizenonos" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @arizenonos</a><br/>
     <a href="https://plus.google.com/+AristidesZenonos">Aristides Zenonos on
      <img src="http://www.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a><br/>

    </div>


    <div class="column-center">
     About Us<br/>
     <a href="http://www.ucl.ac.uk/seismolab/research.html">Seismolab</a>

   </div>
   <div class="column-right">
     Related Sites<br/>
     <a href="https://www.ucl.ac.uk/earth-sciences">UCL Earth Science Department</a>
   </div>
 </div>



 <div id="department">
  <div id="linefooter">
  </div>
  
  Copyright © <script type="text/javascript">
  var d = new Date()
  document.write(d.getFullYear())
</script>
Aristides Zenonos
</div>
</div>

<!-- SCRIPTS -->


<!--
-->
<script type="text/javascript">
  function myFunction(selector)
  {
    var i;
    var j;
    j=100;
    for (i=1;i<=10;i++){

      selector.options[i-1] = new Option(j,j);
      j=j+100;
    }
  }
//usage:
myFunction(document.getElementById("demo"));
function lat(selector)
{
  var i;
  var j;
  j=1;
  for (i=1;i<=90;i++){

    selector.options[i-1] = new Option(j,i);
    j=j+1;
  }
}
lat(document.getElementById("latMAX"));
lat(document.getElementById("latMIN"));
function lon(selector)
{
  var i;
  var j;
  j=1;
  for (i=1;i<=180;i++){

    selector.options[i-1] = new Option(j,i);
    j=j+1;
  }
}
lon(document.getElementById("lonMAX"));
lon(document.getElementById("lonMIN"));
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
  });
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { extensions: ["AMSmath.js"] }});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script type="text/javascript"
src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script>
var earth;
  function initialize() {
    var options = {atmosphere: true, center: [0, 0], zoom: 0};
    earth = new WE.map('earth_div', options);
    WE.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/sat/{z}/{x}/{y}.jpg', {
      subdomains: '1234',
      attribution: 'Tiles Courtesy of MapQuest'
    }).addTo(earth);

  }
      function getCurrentCenter() {
       alert(earth.getCenter());
      }

    $(":submit").click(function() {
        $("#overlay").show();
    });

  </script>
  <script src="{% static 'javascript/spin.js' %}"></script>
  <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>



