<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>SGlobe-rani</title>
<link rel="icon" type="image/png" href="http://sysmic.ac.uk/static/img/ucl.png" />


<!--Styles -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">







<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
</head>
<body>
<div id="maincontainer">
<div id="fixedheader">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SGlobe-rani Model</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../">Explore Model</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>
<div id="topsection"><div class="innertube">



</div></div>
<div id="wrapper">
<div id="contentwrapper">
<div id="contentcolumn">
<div class="innertube">
<!--
<div data-spy="scroll" data-target=".navbar" data-offset="12" class="innertube">
-->
<div class="innertube">
  
  <div id="About">
    <div class="container-fluid">
        <h2>The image requested is</h2>

<p>
  
<img id = "retrieve_img" src="{{ new_TomoImages.image.url }}" alt="Mountain View" style="width:40%;height:60%;    display: block;margin-left: auto;margin-right: auto;">

</p>
<p>



</p>
<p>
<button type="button" class="button" onclick="window.location.href='../'" >Back</button>

</p>
    </div>
  </div>
  
  </div>
  
  </div>


</div>
</div>
</div>



</div>


</div>

<div id="footer">

  
  
  <div id="department">
    <div id="linefooter">
  </div>
  
    Copyright © <script type="text/javascript">
    var d = new Date()
    document.write(d.getFullYear())
    </script>
    Aristides Zenonos
  </div>
  </div>
<!-- SCRIPTS -->

<link rel="stylesheet" type="text/css" href="{% static 'css/style_image.css' %}">

<!--
<script src="externalfile:drive-ca5911c4485d18a13157efbccd2d302b4d6cf142/root/MSc Individual Project/javascript/scrollspy.js"></script>
-->



</body>
</html>

