

html,body{
  margin: 0px;
  padding:0px;
  height: auto;
  width: 100%;
  background:#E3E3E3;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
b{font-size: 110%;}
em{color: red;}

#maincontainer{

  height:auto;
  position: relative;
  padding-top:50px;
}

#fixedheader{
  
}

@import "compass/css3";

.wrapper {
  position: relative;
  margin: 40px auto;
  background: white;
}

@mixin timer($item, $duration, $size, $color, $border, $hover: running) {
  #{$item}, #{$item} * { @include box-sizing(border-box); }

  #{$item} { 
    width: $size;
    height: $size;
  }

  #{$item} .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: $color;
    border: #{$border};
  }

  #{$item} .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota $duration + s linear infinite;
  }

  #{$item}:hover .spinner,
  #{$item}:hover .filler, 
  #{$item}:hover .mask {
    animation-play-state: $hover;    
  }

  #{$item} .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa $duration + s steps(1,end) infinite reverse;
    border-left: none;
  }

  #{$item} .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa $duration + s steps(1,end) infinite;
  }

  @keyframes rota {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
}

@include timer('.wrapper', 5, 250px, #08C, '5px solid rgba(0,0,0,0.5)');
.navbar-inverse {
background: #363636;
border: #363636;
color: #9C9C9C;
}
.navbar-fixed-top{
background: #363636;
border: #363636;
color: #9C9C9C;
width: 100%;
color: #FFF;
}
#topsection{
  padding-top:20px;
text-align: center;
text-size: 30px;
height: 100%; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;

}

#wrapper{
  position: relative;
  padding-top:30px;
  margin-top: -30px;
  height:auto;

  
}

#contentwrapper{
width: 100%;

height: 100%;
overflow:hidden;
}

#contentcolumn{
display:inline-block;
}

#ReferencesStyle{
  width: 100%;
  height: auto;
  text-align: justify;
}

#datamethod{
  height: 200px;
  width: 100%;
  float: left;
  /*background-image: url("/static/img/doublestar.jpg");*/
  background-position: center; 
  opacity: 0.65;
  filter: alpha(opacity=40);
}

#datamethod h2{
vertical-align:middle;
    margin-top:0px; /* need this to clear the default margin */
    margin-bottom:0px;
    position: relative;
    top:45%;
}

#footer{
clear: both;
position: relative;
width: 100%;
bottom:0;
background: #363636;
color: #FFF;
text-align: center;

height:400px;
}

#department{
position: absolute;
margin: 0 auto;
bottom:0;
color: #9C9C9C;
width: 100%;

}
#footer a{
color: #9C9C9C;
}

.button {
   border-top: 1px solid black;
   background: black;
   background: -webkit-gradient(linear, left top, left bottom, from(#202121), to(black));
   background: -webkit-linear-gradient(top, #202121, black);
   background: -moz-linear-gradient(top, #202121, black);
   background: -ms-linear-gradient(top, #202121, black);
   background: -o-linear-gradient(top, #202121, black);
   padding: 8px 16px;
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #9c9c9c;
   font-size: 31px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
    margin:0 auto;
    display:block;
   }
.button:hover {
   border-top-color: #919191;
   background: #919191;
   color: #ffffff;
   }
.button:active {
   border-top-color: #787878;
   background: #787878;
   }
#linefooter {
    display: block;
    border-top: 1px solid #7D7D7D;
    padding: 0.5%;
    width: 40%;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
h3 {
    text-align: justify;
    font-size: 20px;
}
p{
    text-align: justify;
    text-justify: inter-word;
}

.innertube b {
  margin: 20px;
}
#footer .container-table{
  height: auto;
  width: 100%;
  float: left;
}

.column-left{
 
  width: 33%;
  line-height:250%;
   float: left;
}
.column-right{ 
float: right; 
width: 33%;
line-height:250%; 
}
.column-center{
float:left;
 width: 33%; 
 line-height:250%;
 }

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
position:relative;

text-size: 20px;
overflow:auto;
}
#comwrapper{
    width: 100%;
    height: auto;


}
#formwrapper{
      width: 50%;
    float: left;
    height: auto;
    
}
#earth_div{
  width:50%;
  height:auto;
  float: left;
  border:1px solid gray; 
  padding:2px; 
  background-color: black;"
}
#earth_div { width: 33.33%; opacity: 0;}
#earth_div  { animation: fdsseq .5s forwards; }


#fds { font-size: 0px; 
     margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
    display: block;
clear:left;
text-align: center;
}
#fds img { width: 33.33%; opacity: 0;}

@keyframes fdsseq { 100% { opacity: 1;  padding: 10px;} }
#fds img { animation: fdsseq .5s forwards;height: 200px; width: 150px;  

position:relative;
display: inline-block;

padding:10px;
}
#fds img:nth-child(1) { animation-delay: .7s;}
#fds img:nth-child(2) { animation-delay: 1.4s; }
#fds img:nth-child(3) { animation-delay: 2.1s; }


/* ####### responsive layout CSS ####### */
@media (max-width: 600px){ /* responsive layout break point */

	.column-left{
	float: left;
	height: auto;
	width:100%;
	padding-bottom:5%;
	}
		.column-center{
	float: left;
	height: auto;
	width:100%;
	padding-bottom:5%;
	}
		.column-right{
	float: left;
	height: auto;
	width:100%;
	padding-bottom:5%;
	}
	#department{
position: absolute;
margin: 0 auto;
bottom:0;
width: 100%;
margin-left: -2%;
float:left;
height:auto;
}
#footer{
clear: both;
position: relative;
width: 100%;
bottom:0;
background: #363636;
color: #FFF;
text-align: center;
padding: 2%;
height:500px;
}
#comwrapper{
    width: 100%;
    height: auto;
    margin: auto;


}
#formwrapper{
      width: 100%%;
    float: left;
    height: auto;
    
}
#earth_div{
  width:100%;
  height:auto;
  float: left;
  clear:left;
  border:1px solid gray; 
  padding:2px; 
  background-color: black;"
}
#earth_div { width: 100%; opacity: 0;}
#earth_div  { animation: fdsseq .5s forwards; }


}

